/*
@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunsx.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunsi.otf');
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}

body {
  font-family: "Computer Modern", serif;
}
*/

body {
  font-family: "adobe garamond pro", Times, 'Times New Roman', serif;

  font-size: 16px;
  line-height: 18px;

  text-rendering: optimizeLegibility;
font-feature-settings: "kern";
-webkit-font-feature-settings: "kern";
-moz-font-feature-settings: "kern";
-moz-font-feature-settings: "kern=1";
-webkit-font-smoothing: antialiased;
font-size: 19px;
padding: 0;
margin: 0;
}

body {
	color: #222;
	background-color: white;
}
body.index {
	color: #fff;
	 background: url('/images/24296251963_71b008e856_k.jpg') no-repeat #000;
	 background-position: 15% 50%;
	 font-size:16px;
}

body.index a {
  /*
  color: #ff0084;
  */
  color: #fff;

}

h1 {
  line-height: 40px;
}
h1, h2, h3, h4, h5 {
  font-family: "europa", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#top-bg {

}
body.post-body #wrapper {
	max-width: 550px;
  margin: auto;
  padding: 10px;
}
#wrapper {
  margin-left: 20px;
}

#me {
  margin-top: -103px;
  width: 128px;
  /*border-radius: 50%;*/
  border-radius: 12px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  z-index: 5;
  /*border: 4px solid #fff700;
  */
}

#bio {
  margin-bottom: 40px;
}

#most-popular ul {
  margin: 0;
  padding: 0;
}
#most-popular ul li {
  list-style: none;
  margin: 0;
}

.post-title {
  font-size: 2em;
  line-height: 40px;
  margin: 50px 0px 30px 0px;
}
.post-info {
  margin: 15px 0px;
}
.post-content {
  padding: 0 0 0 0;
  font-size: 19px;
  line-height: 29px;
  margin: 0 0 22px 0;
}
.post-content img {
  max-width: 100%;
}

#post-bottom {
  margin-top: 40px;
}

.post-body .photo {
  display: block;
  margin: auto;
}
.photo-box {
  margin: 40px auto;
  text-align: center;
}
.photo-box img {
  max-width: 550px;
}
.photo-caption {
  margin-top: 15px;
  font-style: italic;
  font-size: 14px;
}
