<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <script src="//use.typekit.net/utp0tbz.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Max Lynch" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Thoughts on building software and building software companies" />
  <meta name="keywords" content="startups,bootstrapping,companies,tech,software development,codiqa,jetstrap,drifty,madison,wisconsin,founder" />

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

  <link href="http://feeds.feedburner.com/maxlynch" rel="alternate" title="Max Lynch" type="application/atom+xml" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/clean.css" type="text/css" media="screen, projection">
</head>
<body class="index">
  {% if page.header %}
<div id="top-bg">

</div>
  {% endif %}
  <div id="wrapper">
    {{ content }}
  </div>
        
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31805197-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
