<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Max Lynch" />
   <meta name="description" content="Max's thoughts on building software and building software companies" />

   <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

   <link href="http://feeds.feedburner.com/maxlynch" rel="alternate" title="Max Lynch" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen2.css" type="text/css" media="screen, projection">
   <link rel="stylesheet" href="/fonts/font-awesome.css">

   <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>
<body>

  <div class="container">
    <div class="four columns sidebar">
      <nav>
      <h1>Hello!</h1>
      <h2>I'm <a href="/">Max Lynch</a>.</h2>
      <ul>
        <p>I use computers to build my dreams and help others build theirs.</p>
        <p>
        I am currently the co-founder of <a href="http://twitter.com/drifthack">Drift Hack</a> in Madison, makers of <a href="http://codiqa.com/">Codiqa</a>
        and <a href="http://jetstrap.com/">Jetstrap</a>
        </p>
        <!--<a href="/"><img src="/images/max.png" height="72" /></a>-->
        
        <a href="https://twitter.com/maxlynch" class="twitter-follow-button" data-show-count="false">Follow me</a>
      </ul>
      </nav>
    </div>
    <div class="eleven columns content">
      <div id="home">

  {{ content }}
  
  <div class="footer">
    <div class="contact">
    <!--
      <p>
        Max Lynch<br />
        Co-founder of <a href="http://codiqa.com/">Codiqa</a><br />
        max@codiqa.com
      </p>
      -->
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mlynch/">github.com/mlynch</a><br />
        <a href="http://twitter.com/maxlynch/">twitter.com/maxlynch</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/maxlynch">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!--<a href="http://github.com/mlynch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31805197-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
        
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
