<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Max Lynch" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Max's thoughts on building software and building software companies" />

   <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

   <link href="http://feeds.feedburner.com/maxlynch" rel="alternate" title="Max Lynch" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen2.css" type="text/css" media="screen, projection">
   <link rel="stylesheet" href="/fonts/font-awesome.css">

   <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>
<body>
  {% if page.backgroundImage %}
  <div class="jumbotron">
    <div class="jumbotron-image"></div>
    <div class="credit">Image credit: {{ page.backgroundImageCredit }}</div>
  </div>
  {% endif %}
  <div class="container">
    <div class="four columns sidebar">
      <nav>
      <a href="/" style="text-decoration: none; display: block; margin-bottom: 15px" id="face">
        <img src="https://si0.twimg.com/profile_images/2267580936/kztws9hx14kocbphjfaf.png" style="height: 64px; border-radius: 100px; box-shadow: 0px 0px 2px rgba(0,0,0,0.3)" />
      </a>
      <h2><a href="/">Max Lynch</a></h2>
      <ul>
        <p>
        Co-founder of CTO <a href="http://drifty.co/">Drifty Co.</a> in Madison. <a href="http://techstars.com/">TechStars</a> alum. Achiever, never satisifed.
        </p>
        <!--<a href="/"><img src="/images/max.png" height="72" /></a>-->
        
        <a href="https://twitter.com/maxlynch" class="twitter-follow-button" data-show-count="false">Follow me</a>
      </ul>
      </nav>
      {% if page.category %}
      <hr>
      <div class="meta">
        <h4 class="title">{{page.title}}</h4>
        <div class="info"><time>Posted {{page.dateString}}</time> in {{page.tags}}</div>
        <div class="social-buttons">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="maxlynch" data-count="vertical">Tweet</a>
          <g:plusone size="tall"></g:plusone>
          <a href="http://bufferapp.com/add" class="buffer-add-button" data-count="vertical" data-via="maxlynch" >Buffer</a><script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="eleven columns content">
      <div id="home">
        <div id="responsive-info">
          <a href="/" style="text-decoration: none; display: block; margin-bottom: 15px">
            <img src="https://si0.twimg.com/profile_images/2267580936/kztws9hx14kocbphjfaf.png" style="height: 64px; border-radius: 100px; box-shadow: 0px 0px 2px rgba(0,0,0,0.3)" />
          </a>
          {% if page.category %}
          Written by <a href="/">Max Lynch</a>, founder of <a href="http://drifty.co/">Drifty</a>{% if page.dateString %}, on {{page.dateString}}{% endif %}. <a href="/">More by Max</a>
          {% else %}
          <a href="/">Max Lynch</a>, founder and CTO of <a href="http://drifty.co/">Drifty</a> in Madison, WI
          {% endif %}
        </div>

  {{ content }}
  
  <div class="footer">
    <div class="contact">
    <!--
      <p>
        Max Lynch<br />
        Co-founder of <a href="http://codiqa.com/">Codiqa</a><br />
        max@codiqa.com
      </p>
      -->
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mlynch/">github.com/mlynch</a><br />
        <a href="http://twitter.com/maxlynch/">twitter.com/maxlynch</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/maxlynch">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!--<a href="http://github.com/mlynch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>-->
<script src="/js/jquery.backstretch.js"></script>

{% if page.backgroundImageStyle %}
<style>
  .jumbotron img {
    {{page.backgroundImageStyle}}
  }
</style>
{% endif %}
<script>
{% if page.backgroundImage %}
$(document).ready(function() {
  $('.jumbotron-image').backstretch('{{page.backgroundImage}}');
  //$('.jumbotron-image').centerImage();
});
{% endif %}

$.fn.fixie = function(opts) {
  var offsetTop = opts.offsetTop || 0;

  return this.each(function() {
    var $el = $(this);

    var originalSpot = $(this).is(':visible') ? $(this).offset() : null;

    $(window).scroll(function(){
      if(!$el.is(':visible')) {
        originalSpot = null;
        $el.removeClass('fixed');
        $el.css('top', '');;
        return;
      }
      if(originalSpot === null) {
        originalSpot = $el.offset();
      }
      if($(window).scrollTop() > originalSpot.top - offsetTop) {
        $el.addClass('fixed');
        $el.css('top', offsetTop + 'px');
      } else { 
        $el.removeClass('fixed');
        $el.css('top', '');
      }
    });
  });
}


$('.sidebar .meta').fixie({
  offsetTop: 20
});

</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31805197-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
        
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
